
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Home > Email</h2>

<div class="panel panel-default">
    <div class="panel-heading">ส่งอีเมล์ขั้นตอนเมื่อถึงกำหนดส่งข้อมูล</div>
    <div class="row top-buffer"><div class="col-lg-3">
    <label>ระบุรหัสพนักงานที่ต้องการ E-Mail</label></div>
    </div>
        <div class="row top-buffer">
            <div class="col-lg-2">
                <input type="text" class="form-control" />
            </div>
            <div class="col-lg-1">
                <button type="button" class="btn btn-primary btn-block">Search</button>
            </div>
            <div class="col-lg-2"><label>วันที่เตือนเมื่อถึงกำหนดส่งข้อมูล</label></div>
            <div class="col-lg-1">
                <input type="text" class="form-control" value="5"  />
            </div>
            <div class="col-lg-1">
                <label>ของทุกเดือน</label>
            </div>
        </div>
        <div class="row top-buffer">
            <div class="col-lg-3">
                <textarea name="Text1" cols="40" rows="5"  >jatupol.a@cattelcom.com</textarea>
            </div>
            <div class="col-lg-1">
                <button type="button" class="btn btn-primary btn-block">Add</button>
                <button type="button" class="btn btn-primary btn-block">Remove</button>
            </div>
            <div class="col-lg-3">
                <textarea name="Text1" cols="40" rows="5">
jatupol.a@cattelcom.com
jongkolnee.m@cattelecom.com
jongchit.j@cattelecom.com
                </textarea>
            </div>
        </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">ขั้นตอนเมื่อมีการนำเข้าข้อมูล</div>
    <div class="row top-buffer">
        <div class="col-lg-3">
            <label>ระบุรหัสพนักงานที่ต้องการ E-Mail</label>
        </div>
    </div>
    <div class="row top-buffer">
        <div class="col-lg-2">
            <input type="text" class="form-control" />
        </div>
        <div class="col-lg-1">
            <button type="button" class="btn btn-primary btn-block">Search</button>
        </div>
    </div>
    <div class="row top-buffer">
        <div class="col-lg-3">
            <textarea name="Text1" cols="40" rows="5">jatupol.a@cattelcom.com</textarea>
        </div>
        <div class="col-lg-1">
            <button type="button" class="btn btn-primary btn-block">Add</button>
            <button type="button" class="btn btn-primary btn-block">Remove</button>
        </div>
        <div class="col-lg-3">
            <textarea name="Text1" cols="40" rows="5">
                jatupol.a@cattelcom.com
                jongkolnee.m@cattelecom.com
                jongchit.j@cattelecom.com
            </textarea>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">ขั้นตอนการแจ้งเมื่อมีข้อมูลใหม่</div>
    <div class="row top-buffer">
        <div class="col-lg-3">
            <label>ระบุรหัสพนักงานที่ต้องการ E-Mail</label>
        </div>
    </div>
    <div class="row top-buffer">
        <div class="col-lg-2">
            <input type="text" class="form-control" />
        </div>
        <div class="col-lg-1">
            <button type="button" class="btn btn-primary btn-block">Search</button>
        </div>
    </div>
    <div class="row top-buffer">
        <div class="col-lg-3">
            <textarea name="Text1" cols="40" rows="5">jongkolnee.m@cattelecom.com</textarea>
        </div>
        <div class="col-lg-1">
            <button type="button" class="btn btn-primary btn-block">Add</button>
            <button type="button" class="btn btn-primary btn-block">Remove</button>
        </div>
        <div class="col-lg-3">
            <textarea name="Text1" cols="40" rows="5">
                jatupol.a@cattelcom.com
                jongkolnee.m@cattelecom.com
                jongchit.j@cattelecom.com
            </textarea>
        </div>
    </div>
</div>

   




