
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Home > Information Data</h2>


<div class="panel panel-default">
    <div class="panel-body">
        <table>
            <tr>
                <th width="400px"></th>
                <th></th>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" id="eq1" class="k-checkbox" checked="checked">
                    <label class="k-checkbox-label" for="eq1">สำนักงานบริการลูกค้า กสท เขตเหนือ สข.(น)</label>
                </td>
                <td>
                    <input type="checkbox" id="eq1" class="k-checkbox" checked="checked">
                    <label class="k-checkbox-label" for="eq1">สำนักงานบริการลูกค้า กสท เขตตะวันตก สข.(ตต)</label>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" id="eq1" class="k-checkbox" checked="checked">
                    <label class="k-checkbox-label" for="eq1">สำนักงานบริการลูกค้า กสท เขตใต้ สข.(ต)</label>
                </td>
                <td>
                    <input type="checkbox" id="eq1" class="k-checkbox" checked="checked">
                    <label class="k-checkbox-label" for="eq1">สำนักงานบริการลูกค้า กสท เขตตะวันออกเฉียงเหนือ สข.(อน)</label>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" id="eq1" class="k-checkbox" checked="checked">
                    <label class="k-checkbox-label" for="eq1">สำนักงานบริการลูกค้า กสท เขตกลาง สข.(ก)</label>
                </td>
                <td>
                    <input type="checkbox" id="eq1" class="k-checkbox" checked="checked">
                    <label class="k-checkbox-label" for="eq1">สำนักงานบริการลูกค้า กสท เขตตะวันออกออก สข.(อ)</label>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" id="eq1" class="k-checkbox" checked="checked">
                    <label class="k-checkbox-label" for="eq1">ฝ่ายพัฒนาธุรกิจการตลาดลูกค้ารายย่อย(ยต.)</label>
                </td>
                <td>
                    <input type="checkbox" id="eq1" class="k-checkbox" checked="checked">
                    <label class="k-checkbox-label" for="eq1">เลือกทั้งหมด</label>
                </td>
            </tr>
        </table>
    </div>


</div>


<div class="panel panel-default">
    <div class="panel-body">
        <table style="width:900px">
            <tr>
                <th width="200px"></th>
                <th width="250px"></th>
                <th width="200px"></th>
            </tr>
            <tr>
                <td>ชื่อบริการ
                    <select>
                        <option value="">CAT hinet</option>
                    </select>
                </td>
                <td>
                    Package
                    <select>
                        <option value="">Platinum (Plus)</option>
                    </select>
                </td>
                <td>
                    ความเร็ว
                    <select>
                        <option value="">100/25 Mbps.</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    ข้อมูลปี
                    <select>
                        <option value="">2557</option>
                    </select>
                </td>
                <td>
                    ข้อมูลเดือน
                    <select>
                        <option value="">กุมภาพันธ์</option>
                    </select>
                </td>
                <td>
                    สถานะ
                    <select>
                        <option value="">เปิดให้บริการ</option>
                    </select>
                </td>
            </tr>
            <tr align="center">
                <td colspan="3" >
                    <br />
                    <button type="button" class="btn btn-default">OK</button>
                    <button type="button" class="btn btn-default">Cancel</button>
                    <button type="button" class="btn btn-default">Export</button>
                </td>
            </tr>
        </table>
    </div>
</div>
