
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Home > Information Data</h2>

<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-4"><input type="checkbox" id="eq1" class="k-checkbox" checked="checked">สำนักงานบริการลูกค้า กสท เขตเหนือ สข.(น)</div>
            <div class="col-lg-6"><input type="checkbox" id="eq1" class="k-checkbox" checked="checked">สำนักงานบริการลูกค้า กสท เขตตะวันตก สข.(ตต)</div>
        </div>
        <div class="row">
            <div class="col-lg-4"><input type="checkbox" id="eq1" class="k-checkbox" checked="checked">สำนักงานบริการลูกค้า กสท เขตใต้ สข.(ต)</div>
            <div class="col-lg-6"><input type="checkbox" id="eq1" class="k-checkbox" checked="checked">สำนักงานบริการลูกค้า กสท เขตตะวันออกเฉียงเหนือ สข.(อน)</div>
        </div>
        <div class="row">
            <div class="col-lg-4"><input type="checkbox" id="eq1" class="k-checkbox" checked="checked">สำนักงานบริการลูกค้า กสท เขตกลาง สข.(ก)</div>
            <div class="col-lg-6"><input type="checkbox" id="eq1" class="k-checkbox" checked="checked">สำนักงานบริการลูกค้า กสท เขตตะวันออกออก สข.(อ)</div>
        </div>
        <div class="row">
            <div class="col-lg-4"><input type="checkbox" id="eq1" class="k-checkbox" checked="checked">ฝ่ายพัฒนาธุรกิจการตลาดลูกค้ารายย่อย(ยต.)</div>
            <div class="col-lg-6"><input type="checkbox" id="eq1" class="k-checkbox" checked="checked">เลือกทั้งหมด</div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-1" align="right">ชื่อบริการ</div>
            <div class="col-lg-2" ><div class="dropdown">
                    <button class="btn  dropdown-toggle btn-block" type="button" data-toggle="dropdown">
                        CAT hinet
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">CAT hinet</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-1" align="right">Packages</div>
            <div class="col-lg-2">
                <div class="dropdown">
                    <button class="btn  dropdown-toggle btn-block" type="button" data-toggle="dropdown">
                        Platinum(Plus)
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Platinum(Plus)</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-1" align="right">ความเร็ว</div>
            <div class="col-lg-2">
                <div class="dropdown">
                    <button class="btn dropdown-toggle btn-block" type="button" data-toggle="dropdown">
                        100/25 Mbps.
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">100/25 Mbps.</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row top-buffer">
            <div class="col-lg-1" align="right">ข้อมูลปี</div>
            <div class="col-lg-2">
                <div class="dropdown">
                    <button class="btn  dropdown-toggle btn-block" type="button" data-toggle="dropdown">
                        2557
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">2557</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-1" align="right">ข้อมูลเดือน</div>
            <div class="col-lg-2">
                <div class="dropdown">
                    <button class="btn  dropdown-toggle btn-block" type="button" data-toggle="dropdown">
                        กุมภาพันธ์
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">กุมภาพันธ์</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-1" align="right">สถานะ</div>
            <div class="col-lg-2">
                <div class="dropdown">
                    <button class="btn  dropdown-toggle btn-block" type="button" data-toggle="dropdown">
                        เปิดให้บริการ
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">เปิดให้บริการ</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row top-buffer">
                <div class="col-lg-3"></div>
                <div class="col-lg-1"><button type="button" class="btn btn-primary btn-block">OK</button></div>
                <div class="col-lg-1"><button type="button" class="btn btn-primary btn-block">Cancel</button></div>
                <div class="col-lg-1"><button type="button" class="btn btn-primary btn-block">Export</button></div>
        </div>
    </div>
</div>
