
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Home > Assign KPI</h2>


<div class="row top-buffer">
    <div class="col-lg-9">
        <div class="panel panel-default">
            <div class="panel-heading">กำหนดค่า KPI จำนวน Port Internet ประจำปี 2558</div>
            <div class="panel-body">Panel Content</div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="panel panel-default">
            <div class="panel-heading">สำเนาหลังสืออนุมัติ</div>
            <div class="panel-body">Panel Content</div>
        </div>
    </div>
</div>

