
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Home > Assign KPI</h2>


<div class="row top-buffer">
    <div class="col-lg-9">
        <div class="panel panel-default">
            <div class="panel-heading">กำหนดค่า KPI จำนวน Port Internet ประจำปี 2558</div>
            <div class="panel-body">
                <div class="row top-buffer">
                    <div class="col-lg-6"></div><div class="col-lg-2">KPI ปี 2557</div><div class="col-lg-2">KPI ปี 2558</div><div class="col-lg-2"></div>
                </div>
                <div class="row top-buffer">
                    <div class="col-lg-6">สำนักงานบริการลูกค้า กสท. เขตเหนือ สข.(น)</div>
                    <div class="col-lg-2"><input type="text"  class="form-control" value="2,500"></div>
                    <div class="col-lg-2"><input type="text" class="form-control"  value="3,500"></div>
                    <div class="col-lg-2"><button type="button" class="btn btn-primary btn-block">แก้ไข</button></div>
                </div>
                <div class="row top-buffer">
                    <div class="col-lg-6">สำนักงานบริการลูกค้า กสท. เขตตะวันตก สข.(ตต)</div>
                    <div class="col-lg-2"><input type="text" class="form-control" value="2,500"></div>
                    <div class="col-lg-2"><input type="text" class="form-control" value="3,500"></div>
                    <div class="col-lg-2"><button type="button" class="btn btn-primary btn-block">แก้ไข</button></div>
                </div>
                <div class="row top-buffer">
                    <div class="col-lg-6">สำนักงานบริการลูกค้า กสท. เขตใต้ สข.(ต)</div>
                    <div class="col-lg-2"><input type="text" class="form-control" value="2,500"></div>
                    <div class="col-lg-2"><input type="text" class="form-control" value="3,500"></div>
                    <div class="col-lg-2"><button type="button" class="btn btn-primary btn-block">แก้ไข</button></div>
                </div>
                <div class="row top-buffer">
                    <div class="col-lg-6">สำนักงานบริการลูกค้า กสท. เขตตะวันออกเฉียงเหนือ สข.(อน)</div>
                    <div class="col-lg-2"><input type="text" class="form-control" value="2,500"></div>
                    <div class="col-lg-2"><input type="text" class="form-control" value="3,500"></div>
                    <div class="col-lg-2"><button type="button" class="btn btn-primary btn-block">แก้ไข</button></div>
                </div>
                <div class="row top-buffer">
                    <div class="col-lg-6">สำนักงานบริการลูกค้า กสท. เขตกลาง สข.(ก)</div>
                    <div class="col-lg-2"><input type="text" class="form-control" value="2,500"></div>
                    <div class="col-lg-2"><input type="text" class="form-control" value="3,500"></div>
                    <div class="col-lg-2"><button type="button" class="btn btn-primary btn-block">แก้ไข</button></div>
                </div>
                <div class="row top-buffer">
                    <div class="col-lg-6">สำนักงานบริการลูกค้า กสท. เขตตะวันออก สข.(อ)</div>
                    <div class="col-lg-2"><input type="text" class="form-control" value="2,500"></div>
                    <div class="col-lg-2"><input type="text" class="form-control" value="3,500"></div>
                    <div class="col-lg-2"><button type="button" class="btn btn-primary btn-block">แก้ไข</button></div>
                </div>
                <div class="row top-buffer">
                    <div class="col-lg-6">ฝ่ายพัฒนาธุรกิจการตลาดลูกค้ารายย่อย(ยต.)</div>
                    <div class="col-lg-2"><input type="text" class="form-control" value="2,500"></div>
                    <div class="col-lg-2"><input type="text" class="form-control" value="3,500"></div>
                    <div class="col-lg-2"><button type="button" class="btn btn-primary btn-block">แก้ไข</button></div>
                </div>
                <div class="row top-buffer">
                    <div class="col-lg-6"><b>จำนวน Port Internet ทั้งประเทศ</b></div>
                    <div class="col-lg-2"><input type="text" class="form-control" value="80,500"></div>
                    <div class="col-lg-2"><input type="text" class="form-control" value="100,500"></div>
                    <div class="col-lg-2"></div>
                </div>
            </div>
         </div>
    </div>
    <div class="col-lg-3">
        <div class="panel panel-default">
            <div class="panel-heading">สำเนาหลังสืออนุมัติ</div>
            <div class="panel-body">
                <a href="~/Content/img/cat_kpi.jpg" target="_blank">
                    <img src="~/Content/img/cat_kpi.jpg" style="width:240px;height:300px;" />
                </a>
            </div>
        </div>
    </div>
</div>

