
@{
    ViewBag.Title = "Approve Data";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Home > Approve Data</h2>

<div id="kpi_table">
    <table class="table table-striped">
        <thead>
            <tr>
                <th style="width:20px"></th>
                <th>ข้อมูลที่รอการอนุมัติ</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="checkbox" /></td>
                <td><a href="~/Content/hinet.csv">CAT hinet.csv</a></td>
            </tr>
            <tr>
                <td><input type="checkbox" /></td>
                <td><a href="~/Content/hinet.csv">CAT hotnet.csv</a></td>
            </tr>
            <tr>
                <td><input type="checkbox" /></td>
                <td><a href="~/Content/hinet.csv">CAT ON Net.csv</a></td>
            </tr>

        </tbody>
    </table>
    <div class="row top-buffer">
        <div class="col-lg-3"></div>
        <div class="col-lg-1"><button type="button" class="btn btn-primary btn-block">Approve</button></div>
        <div class="col-lg-1"><button type="button" class="btn btn-primary btn-block">Reject</button></div>
        <div class="col-lg-1"><button type="button" class="btn btn-primary btn-block">Close</button></div>
    </div>
</div>

