
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Home > About</h2>

<div id="dev" align="center">
    <p style="font-size:large">หน่วยงานที่ดูแล : ฝ่ายพัฒนาผลิตภัณฑ์บรอดแบนด์</p>
    <p style="font-size:large">เจ้าหน้าที่ดูแลระบบ</p>
    <a href="~/Content/img/aoo.jpg" target="_blank">
        <img src="~/Content/img/aoo.jpg" style="width:240px;height:300px;" />
    </a>
    <p style="font-size:large">ว่าที่ร้อยตรีจตุพล อวเกียรติ</p>
    <p style="font-size:large">E-Mail: jatupol.a@cattelecom.com</p>
    <p style="font-size:large">โทร 02-104-3792</p>
    <a href="">คู่มือการใช้งานระบบ</a> 
    
</div>
