@using Kendo.Mvc.UI
@{
    ViewBag.Title = "Modify KPI";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Home > Modify KPI</h2>
<div class="row top-buffer">
    <div id="kpi_form" class="col-lg-9">
        <div class="panel panel-default">
            <div class="panel-heading"><b>สำนักงานบริการลูกค้า กสท. เขตเหนือ สข.(น)</b></div>
            <div class="panel-body">
                <div class="row top-buffer">
                    <div class="col-lg-4">จำนวน Port Internet KPI ปี 2559</div><div class="col-lg-3"><input type="text" class="form-control" value="3,000"></div><div class="col-lg-2">Port</div>
                </div>
                <div class="row top-buffer">
                    <div class="col-lg-4">วันที่ได้รับการอนุมัติ KPI</div><div class="col-lg-3"><div class="dropdown">
                                                                        <button class="btn  dropdown-toggle btn-block" type="button" data-toggle="dropdown">
                                                                            30 สิงหาคม 2559
                                                                            <span class="caret"></span>
                                                                        </button>
                                                                        <ul class="dropdown-menu">
                                                                        </ul>
                                                                    </div>
                                                                </div>
                </div>
                <div class="row top-buffer">
                    <div class="col-lg-4"></div>
                    <div class="col-lg-2"><button type="button" class="btn btn-primary btn-block">บันทึกค่า KPI</button></div>
                    <div class="col-lg-2"><button type="button" class="btn btn-primary btn-block">แก้ไขค่า KPI</button></div>
                    <div class="col-lg-2"><button type="button" class="btn btn-primary btn-block">ยกเลิกการบันทึก</button></div>
                </div>
            </div>
            <div id="kpi_table">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Port Internet ปี 2558</th>
                            <th>วันที่อนุมัติ KPI</th>
                            <th>หมายเหตุ</th>
                            <th>เลขที่หนังสืออนุมัติ</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>3,200</td>
                            <td>20 มกราคม 2559</td>
                            <td>กำหนดค่าประจำปี</td>
                            <td>กสท. บด/2545</td>
                        </tr>
                        <tr>
                            <td>3,000</td>
                            <td>30 สิงหาคม 2559</td>
                            <td>ขอปรับค่า KPI</td>
                            <td>กสท. บด/4321</td>
                        </tr>
                     
                    </tbody>
                </table>
            </div>
            <div class="chart-wrapper">
                @(Html.Kendo().Chart()
                    .Name("chart1")
                    //.Title("ระดับประสิทธิภาพงานแยกตามเขต ปี " + (DateTime.Today.Year < 2500 ? DateTime.Today.Year + 543 : DateTime.Today.Year))
                    .Legend(legend => legend
                        .Position(ChartLegendPosition.Bottom)
                    )
                    .ChartArea(chartArea => chartArea
                        .Background("transparent")
                    )

                    .Series(series =>
                    {
                        series.Column(new double[] { 2500, 2700, 3000, 3100, 3000, 3200, 3400, 3300}).Name("สำนักงานบริการลูกค้า กสท. เขตเหนือ สข.(น)");

                    })
                    .CategoryAxis(axis => axis
                        .Categories("ม.ค.", "ก.พ.", "มี.ค.", "เม.ย.", "พ.ค.", "มิ.ย.", "ก.ค.", "ส.ค.", "ก.ย.", "ต.ค.","พ.ย","ธ.ค.")
                        .MajorGridLines(lines => lines.Visible(false))
                    )
                    .Tooltip(tooltip => tooltip
                        .Visible(true)
                        .Format("{0}%")
                    )
                    .ValueAxis(axis => axis.Numeric()
                        .Line(line => line.Visible(false))
                        .PlotBands(bands =>
                        {
                            bands.Add().From(3000).To(3010).Color("#c00");
                        })
                    )
                 )
            </div>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="panel panel-default">
            <div class="panel-heading"><b>สำเนาหลังสืออนุมัติ</b></div>
            <div class="panel-body">
                <a href="~/Content/img/cat_kpi.jpg" target="_blank">
                    <img src="~/Content/img/cat_kpi.jpg" style="width:240px;height:300px;" />
                </a>
                <br /> <br />
                <div class="col-lg-12"><button type="button" class="btn btn-primary btn-block">เพิ่มสำเนาคำสั่ง</button></div>
            </div>
        </div>
    </div>
</div>

