@{
    ViewBag.Title = "เกี่ยวกับ";
}
<h2>@ViewBag.Title.</h2>
<h3>ระบบสนับสนุนข้อมูลลูกค้าอินเทอร์เน็ตบรอดแบนด์</h3>

<p>โดย</p>
<p>สุรินทร์ เอี่ยมทัศ</p>
<p>จตุพล อวเกียรติ</p>
<p>สุทธิพงษ์ จันทะรัง</p>

